{% load static %}

{% block content %}

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-custom-yellow">
        <div class="container-fluid">

            <!-- Logo e Nome -->
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{% static '/img/logo_principal.png' %}" alt="Logo" class="rounded-circle" width="75">
                <span class="ms-2 brand-text">Gerenciamento de EPI's</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Botões -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0 navbar-right-spacement">
                    <li class="nav-item">
                        <a class="btn btn-primary me-2 custom-header-button" href="/usuarios/obter">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary me-2 custom-header-button" href="/equipamentos/obter">EPI's</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-success custom-header-button" href="/emprestimos/obter">Empréstimos</a>
                    </li>
                    <li style="margin-left: 8px;" class="nav-item">
                        <a class="btn btn-success custom-header-button" href="{% url 'home' %}">Voltar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

{% endblock content %}