{% extends "global/secondary_base.html" %} 

{% load static %} 

{% block title %}ProTecHub | Histórico{% endblock title %} 

{% block content %}
<body class="gray-linear-gradient-background">

<div id="confirmationPopup" class="popup">
  <div class="popup-text">Tem certeza que deseja deletar?</div>
  <button id="confirmYes" class="popup-yes-btn">Sim</button>
  <button id="confirmNo" class="popup-no-btn">Não</button>
</div>
<div id="overlay" class="overlay"></div>

<div class="table-container">
  <div class="table-wrapper">
    <div class="column">

      <!-- Exibe as mensagens com as respectivas classes de estilos -->
      {% if messages %} {% for message in messages %}
      <div class="column form-message {{ message.tags }}">
        <div>{{ message }}</div>
      </div>
      {% endfor %} {% endif %}

      <!-- Exibe mensagens de erro não associados a campos específicos -->
      {% if form.non_field_errors %}
      <div class="form-message error">{{ form.non_field_errors }}</div>
      {% endif %}

      <!-- Exibe mensagens de erro de campo específicos -->
      {% for field in form %} {% if field.errors %}
      <div class="form-message error">{{ field.errors.as_text }}</div>
      {% endif %} {% endfor %}

      <div class="row table-info-container">
        <div class="table-info">
          <h1 class="table-text">Tabela | Histórico de Empréstimos Arquivados</h1>
        </div>

        <!-- Formulários de pesquisa -->
        <div class="table-forms"> 
          <form method="GET" class="full-width table-form add-gap">
            <div class="column full-width add-gap">
              <select name="search-by-status">
                <option value="">Pesquise por status</option>
                {% for status in status_disponiveis %}
                  <option value="{{ status }}" {% if status == request.GET.search_by_status %}selected{% endif %}>
                    {{ status }}
                  </option>
                {% endfor %}
              </select>
              <input type="text" name="search-by-name" class="form-control full-width" placeholder="Pesquisar pelo nome do usuário" value="{{ request.GET.search_by_name }}" />
            </div>

            <div class="row">
              <button type="submit" class="">Pesquisar</button>
            </div>
          </form>
        </div>
      </div>

      <div class="table-divider"></div>

      {% if itens_historico %}
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Qtd.</th>
            <th>Usuário</th>
            <th>Equipamento</th>
            <th>Data Empréstimo</th>
            <th>Devolução Efetiva</th>
            <th>Observação</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for item in itens_historico %}
          <tr class="table-divider">
            <td colspan="9"></td>
          </tr>
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.nome_usuario }}</td>
            <td>{{ item.nome_equipamento }}</td>
            <td>{{ item.data_emprestimo }}</td>
            <td>{{ item.data_devolucao_efetiva }}</td>
            <td>{{ item.observacao }}</td>
            <td>
              <div class="row table-buttons">
                <a class="table-update-button" href="{% url 'atualizar_item_historico' item.id %}">
                  <img src="{% static 'img/icons/icons8-update.png' %}" alt="Editar" />
                </a>
                <a class="table-delete-button deleteButton" onclick="toggleDeletionPopUp(this)" data-url="{% url 'deletar_item_historico' item.id %}">
                  <img src="{% static 'img/icons/icons8-trash.png' %}" alt="Remover" />
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
          <tr class="table-divider">
            <td colspan="9"></td>
          </tr>
        </tbody>
      </table>
      {% else %}
      <h1 class="table-empty-text">Não há itens no histórico para serem listados!</h1>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
