{% extends "global/index.html" %}

{% block title %}EPI{% endblock title %}
    
{% block content %}

<div class="container mt-5 d-flex justify-content-center">
    <form method="post" class="w-50"> 
        {% csrf_token %}
       
        {% if infos %}
            {% for info in infos %}
            <div class="alert alert-danger">
                <strong>Aviso</strong> - <a href="#" class="alert-link">{{ info }}</a>
            </div>
            {% endfor %}
        {% endif %}

        <!-- Título do Formulário -->
        <div class="mb-4 text-center">
            <h1>Atualizar EPI</h1>
        </div>
        
        <!-- Nome do Equipamento -->
        <div class="mb-3">
            <label for="{{ form.status.id_for_label }}" class="form-label">Nome</label>
            {{ form.nome }}
            {% for error in form.status.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
<!-- Quantidade Total do Equipamento -->
<div class="mb-3 d-flex align-items-center justify-content-between">
    <label for="{{ form.quantidade_total.id_for_label }}" class="form-label me-3 dashed text-center">Quantidade Total</label>
    {{ form.quantidade_total }}
    {% for error in form.quantidade_total.errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
</div>

<!-- Quantidade Disponível do Equipamento -->
<div class="mb-3 d-flex align-items-center justify-content-between">
    <label for="{{ form.quantidade_disponivel.id_for_label }}" class="form-label me-3 dashed text-center">Quantidade Disponível</label>
    {{ form.quantidade_disponivel }}
    {% for error in form.quantidade_disponivel.errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
</div>


        <!-- Validade do Equipamento -->
        <div class="mb-3">
            <label for="{{ form.validade.id_for_label }}" class="form-label">Validade</label>
            {{ form.validade }}
            {% for error in form.status.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        
        <!-- Categoria do Equipamento -->
        <div class="mb-3">
            <label for="{{ form.tipo.id_for_label }}" class="form-label">Categoria</label>
            {{ form.categoria }}
            {% for error in form.status.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Botão de Submissão do Formulário-->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </div>
    </form>
</div>

{% endblock content %}