{% load static %} 

{% block header %}
<div class="row primary-header-container">

  <!-- Logo e Texto -->
  <a class="primary-header-text" href="{% url 'home' %}">
    <img class="logo" src="{% static 'img/logo.png' %}" alt="Logo" />
    <h1>ProTecHub | Gerenciamento de EPI's</h1>
  </a>

  <!-- Botões -->
  <div class="primary-header-buttons">
    <a class="primary-header-button" href="{% url 'login' %}">
      <img src="{% static 'img/icons/icons8-login.png' %}" alt="Ícone" />
      <h1>Logar</h1>
    </a>
    <a class="primary-header-button" href="{% url 'cadastro' %}">
      <img src="{% static 'img/icons/icons8-register.png' %}" alt="Ícone" />
      <h1>Cadastrar
      </h1>
    </a>
    <a class="primary-header-button" href="{% url 'interno' %}">
      <img src="{% static 'img/icons/icons8-home.png' %}" alt="Ícone" />
      <h1>Acessar</h1>
    </a>
  </div>
</div>
{% endblock header %}
