{% load static %} 

{% block header %}
<div class="row secondary-header-container">
  
  <!-- Foto e Nome -->
  {% if user.is_authenticated %}
  <a class="secondary-header-text">
    <div class="row user-profile" onclick="toggleUserActions()">
      {% if foto %}
      <img class="user-profile-picture" src="{{ MEDIA_URL }}/{{ foto }}" alt="Foto" />
      {% else %}
      <img class="user-profile-picture" src="{{ MEDIA_URL }}/usuarios/default_user.png" alt="Foto" />
      {% endif %}
      <img class="user-action-icon" src="{% static 'img/icons/icons8-bottom-arrow.png' %}" alt="Ações" />
    </div>
    <div class="secondary-header-divider"></div>
    <h1>{{ user.nome }}</h1>
  </a>

  <!-- Menu de Ações -->
  <div class="user-actions" id="user-actions">
    <div class="column user-actions-button-group">
      <a class="user-actions-button" href="{% url 'logout' %}">
        <h1>Deslogar</h1>
      </a>
      <a class="user-actions-button" href="{% url 'interno' %}">
        <h1>Outros</h1>
      </a>
    </div>
  </div>
  {% endif %}

  <!-- Botões -->
  {% if user.is_authenticated %}
  <div class="secondary-header-buttons">
    <!-- Verifica se o usuário pertence ao grupo Admin -->
    {% if 'Admin' in user_groups %}
    <a class="secondary-header-button" href="{% url 'obter_usuarios' %}">
      <h1>Usuários</h1>
    </a>
    <a class="secondary-header-button" href="{% url 'obter_equipamentos' %}">
      <h1>Equipamentos</h1>
    </a>
    <a class="secondary-header-button" href="{% url 'obter_emprestimos' %}">
      <h1>Empréstimos</h1>
    </a>
    <a class="secondary-header-button" href="{% url 'obter_historico' %}">
      <h1>Histórico</h1>
    </a>
    <!-- Verifica se o usuário pertence ao grupo Supervisor -->
    {% elif 'Supervisor' in user_groups %}
    <a class="secondary-header-button" href="{% url 'obter_equipamentos' %}">
      <h1>Equipamentos</h1>
    </a>
    <a class="secondary-header-button" href="{% url 'obter_emprestimos' %}">
      <h1>Empréstimos</h1>
    </a>
    <a class="secondary-header-button" href="{% url 'obter_historico' %}">
      <h1>Histórico</h1>
    </a>
    <!-- Verifica se o usuário pertence ao grupo Colaborador -->
    {% elif 'Colaborador' in user_groups %}
    <a class="secondary-header-button" href="{% url 'obter_emprestimos' %}">
      <h1>Empréstimos</h1>
    </a>
    {% endif %}

    <a class="secondary-header-button secondary-header-button-width-fit" href="{% url 'interno' %}">
      <img src="{% static 'img/icons/icons8-return.png' %}" alt="Voltar" />
    </a>
    <a class="secondary-header-button secondary-header-button-width-fit" href="{% url 'home' %}">
      <img src="{% static 'img/icons/icons8-home.png' %}" alt="Home" />
    </a>
  </div>
  {% endif %}
</div>
{% endblock header %}
