{% extends "global/secondary_base.html" %} 

{% load static %} 

{% block title %}ProTecHub | Editar Usuário{% endblock title %} 

{% block content %}
<body class="gray-linear-gradient-background">

<div class="form-container">
  <div class="form-wrapper">
    <h1 class="form-title">Editar Usuário</h1>

    <!-- Exibe as mensagens com as respectivas classes de estilos -->
    {% if messages %} {% for message in messages %}
    <div class="column form-message {{ message.tags }}">
      <div>{{ message }}</div>
    </div>
    {% endfor %} {% endif %}

    <!-- Exibe mensagens de erro não associados a campos específicos -->
    {% if form.non_field_errors %}
    <div class="form-message error">{{ form.non_field_errors }}</div>
    {% endif %}

    <!-- Exibe mensagens de erro de campo específicos -->
    {% for field in form %} {% if field.errors %}
    <div class="form-message error">{{ field.errors.as_text }}</div>
    {% endif %} {% endfor %}

    <form action="{% url 'atualizar_usuario' usuario.id %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="column">
        
        <!-- Nome do Usuário -->
        <div class="form-input-group">
          <label for="{{ form.nome.id_for_label }}">Nome</label>
          {{ form.nome }}
        </div>

        <!-- Foto do Usuário -->
        <div class="form-input-group">
          <label for="{{ form.foto.id_for_label }}">Foto</label>
          <div class="form-image-container">
            
            <!-- Exibe a pré-visualização da imagem atual, se disponível -->
            <div class="image-preview">
              {% if form.foto.value %}
                <img src="{{ form.foto.value.url }}" alt="Foto atual do usuário" id="current-image">
              {% endif %}
            </div>

            <!-- Campo de upload escondido -->
            <input type="file" name="{{ form.foto.html_name }}" id="upload-photo" class="form-hidden-upload" accept="image/*" onchange="UploadAndChangeFormPhoto(event)">

            <!-- Botão de modificar a foto -->
            <button type="button" class="form-modify-button" onclick="document.getElementById('upload-photo').click()">Modificar Foto</button>
          </div>
        </div>

        <!-- E-mail do Usuário -->
        <div class="form-input-group">
          <label for="{{ form.email.id_for_label }}">Email</label>
          {{ form.email }}
        </div>

        <!-- Senha do Usuário -->
        <div class="form-input-group">
          <label for="{{ form.senha.id_for_label }}">Senha</label>
          {{ form.senha }}
        </div>

        <!-- Tipo do Usuário -->
        <div class="form-input-group">
          <label for="{{ form.tipo.id_for_label }}">Tipo</label>
          {{ form.tipo }}
        </div>

        <!-- Cargo do Usuário -->
        <div class="form-input-group">
          <label for="{{ form.cargo.id_for_label }}">Cargo</label>
          {{ form.cargo }}
        </div>

        <!-- Botão de Submissão -->
        <button type="submit" class="form-submit-button">Atualizar</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}

<!-- Remove o Footer -->
{% block footer %}{% endblock footer %}
