{% extends "global/index.html" %}

{% block title %}Usuário{% endblock title %}
    
{% block content %}

<style>
    label.dashed {border-style: solid;}
</style>

<div class="container d-flex justify-content-center" style="margin-top: 60px; margin-bottom: 100px;">
    <form method="post" class="form-bg-shadow w-50 p-4">
        {% csrf_token %}

        <!-- Nome do Usuário -->
        <div class="mb-3 d-flex align-items-center justify-content-between">
            <label for="{{ form.nome.id_for_label }}" class="form-label me-3 dashed text-center">Nome</label>
            {{ form.nome }}
            {% for error in form.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Login do Usuário -->
        <div class="mb-3 d-flex align-items-center justify-content-between">
            <label for="{{ form.login.id_for_label }}" class="form-label me-3 dashed text-center">Login</label>
            {{ form.login }}
            {% for error in form.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Senha do Usuário -->
        <div class="mb-3 d-flex align-items-center justify-content-between">
            <label for="{{ form.senha.id_for_label }}" class="form-label me-3 dashed text-center">Senha</label>
            {{ form.senha }}
            {% for error in form.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        
        <!-- Tipo do Usuário -->
        <div class="mb-3 d-flex align-items-center justify-content-between">
            <label for="{{ form.tipo.id_for_label }}" class="form-label me-3 dashed text-center">Tipo</label>
            {{ form.tipo }}
            {% for error in form.status.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Cargo do Usuário -->
        <div class="mb-3 d-flex align-items-center justify-content-between">
            <label for="{{ form.cargo.id_for_label }}" class="form-label me-3 dashed text-center">Cargo</label>
            {{ form.cargo }}
            {% for error in form.status.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Data de Adimissão do Usuário -->
        <div class="mb-3 d-flex align-items-center justify-content-between">
            <label for="{{ form.data_admissao.id_for_label }}" class="form-label me-3 dashed text-center">Data de Admissão</label>
            {{ form.data_admissao }}
            {% for error in form.status.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        
        <!-- Botão de Submissão -->
        <div class="text-center mb-4 mt-4">
            <button type="submit" class="btn custom-header-button" style="width: 250px;">Criar</button>
        </div>
    </form>
</div>

{% endblock content %}