{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>História</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
	
	<div class="container_coluna">
		<h1 class="titulos"> História de Palhoça</h1>

		<p class="paragrafos">
			Palhoça pertencia a Florianópolis até 1833, quando então passou a pertencer a São José, quando este foi criado. No ano de 1873, Palhoça foi elevada a condição de Distrito Policial. Desde sua fundação, até este período, Palhoça continuou como arraial, sendo esquecida política e administrativamente, apesar do aumento de seus habitantes e do desenvolvimento da economia. Atendendo ao pedido de moradores, em 1882 a Assembléia Legislativa votou a Lei 949 de 08 de novembro, elevando-a a categoria de freguesia. Em 1886 passa de Distrito Policial a Distrito de Paz. Em 24 de abril de 1894, foi elevada a categoria de Município, por desmembramento de São José, sendo instalado em 23 de maio do mesmo ano.
			Os primeiros colonizadores a chegarem em Palhoça foram os portugueses, que estabeleceram-se na Enseada de Brito e de lá espalharam-se pelas redondezas.
			Após vieram os açorianos e madeirenses, chegando as primeiras famílias na Ilha de Santa Catarina em fevereiro de 1747. O povoamento açoriano-madeirense tem sua origem no edital que D. João V mandou publicar em 1747. O objetivo de D. João V em enviar casais açorianos e madeirenses, era povoar as terras brasileiras e resolver o problema de excesso de população nos arquipélagos dos Açores e Madeira.
			Por volta de 1824, iniciou-se a imigração alemã para o Brasil em Santa Izabel, que mais tarde viria a pertencer ao município de Palhoça. As principais causas da imigração alemã na região foram o excesso de população na Alemanha, as guerras constantes e, a propaganda brasileira atraindo colonos com promessa de doação de terras.
			Palhoça tem sua formação étnica também de origem italiana. A imigração destes para o Brasil iniciou-se por volta de 1790. Além dos portugueses, alemães e italianos, outras raças contribuíram também para formação étnica do povo palhocense, entre elas negros, libaneses, gregos, japoneses, índios.
			O nome do município originou-se de casas construídas de pau-a-pique, com cobertura de palha, denominada palhoça, na localidade da atual região sul do bairro da Ponte do Imaruim. Posteriormente outras construções de pescadores localizaram-se ao redor deste núcleo, com as mesmas características
		</p>

	</div>

	<div class="container_linha">
        <button class="botoes" onclick="navigateToIndex()">Voltar ao Index</button>
    </div>
    
</body>
</html>