{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pontos Túristicos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>Pontos Turísticos</title>
</head>
<body>

    <div class="container_coluna">
        <h1 class="titulos">Pontos Turísticos de Palhoça</h1>

        <p class="paragrafos">
            Shopping ViaCatarina: Localizado no coração de Palhoça, o Shopping ViaCatarina é um centro de compras vibrante que oferece uma ampla gama de lojas, opções gastronômicas e entretenimento. Com uma arquitetura moderna e áreas de lazer para toda a família, é o destino ideal para quem busca uma experiência de compras conveniente e divertida. Além das lojas de moda e tecnologia, o shopping conta com praças de alimentação diversificadas e opções de entretenimento, incluindo cinemas e eventos culturais.
        </p>
        
        <p class="paragrafos">
            Praia Ponta do Papagaio: A Praia Ponta do Papagaio é um paraíso natural em Palhoça, com suas águas cristalinas e areias douradas. Conhecida por suas condições ideais para o surfe e práticas de esportes aquáticos, esta praia também é perfeita para quem busca relaxar sob o sol ou explorar a rica vida marinha local. Com uma vista espetacular para as montanhas e uma atmosfera tranquila, a Praia Ponta do Papagaio é o lugar perfeito para escapar do cotidiano e apreciar a beleza natural.
        </p>
        
        <p class="paragrafos">
            Passeio Pedra Branca: O Passeio Pedra Branca oferece uma imersão no charme da região de Palhoça, com um roteiro que passa por áreas históricas e culturais. O passeio é ideal para aqueles que desejam explorar o patrimônio local, com destaque para construções antigas e áreas de interesse histórico. Com guias experientes e um percurso envolvente, este passeio proporciona uma visão fascinante da história e da cultura de Palhoça.
        </p>
        
        <p class="paragrafos">
            Cambirela: Cambirela é uma das áreas mais icônicas de Palhoça, oferecendo uma combinação única de belezas naturais e opções de lazer ao ar livre. Com suas trilhas deslumbrantes e paisagens montanhosas, Cambirela é um destino imperdível para os amantes de atividades ao ar livre, como caminhadas e observação da natureza. O local proporciona vistas panorâmicas espetaculares e a chance de se conectar com a natureza em um ambiente tranquilo e inspirador.
        </p>
        
        <p class="paragrafos">
            Praia do Sonho: A Praia do Sonho é um refúgio tranquilo em Palhoça, conhecido por suas águas calmas e atmosfera relaxante. Ideal para famílias e visitantes que procuram um lugar pacífico para descansar e desfrutar do sol, a praia oferece infraestrutura básica, como quiosques e áreas para piquenique. Com seu ambiente sereno e bela paisagem, a Praia do Sonho é o destino perfeito para quem deseja uma experiência de praia mais sossegada e agradável.
        </p>
    </div>


    <div class="container_linha">
        <button class="botoes" onclick="navigateToIndex()">Voltar ao Index</button>
    </div>
    
</body>
</html>